[2019-07-22 03:28] Gaurav192 opened #10 "Unreachable code"
Facing issue while compiling release apk for arm64.
Logs while building [example app](https://github.com/TatsuUkraine/flutter_sticky_infinite_list_example).
https://del.dog/flutter_sticky_infinite_list.sql

[2019-07-22 18:49] TatsuUkraine commented on #10
Thank you for reporting this. I'm getting same errors currently, trying to figure out what is wrong. I tried to import package into other project - no errors there

[2019-07-22 19:28] TatsuUkraine commented on #10
@Gaurav192 found the problem, will provide fix soon) thank you again for reporting this issue)

[2019-07-22 20:12] #10 closed

[2019-07-22 20:16] TatsuUkraine commented on #10
@Gaurav192 issue is fixed in new package version, also example app yaml update with new version

[2019-09-07 21:33] MarceloRab opened #13 "Erro => scrollDirection: Axis.horizontal"
The following NoSuchMethodError was thrown building _StickySliverListItem<int>(dependencies:
I/flutter (31517): [MediaQuery], state: _StickySliverListItemState<int>#030fb):
I/flutter (31517): The method 'addListener' was called on null.
I/flutter (31517): Receiver: null
I/flutter (31517): Tried calling: addListener(Closure: () => void from Function 'markNeedsPaint':.)

[2019-09-07 21:34] TatsuUkraine commented on #13
@MarceloRab could you provide code sample?

[2019-09-07 21:57] MarceloRab commented on #13
class MyEvestsListDayScroll extends StatefulWidget {

  @override
  _MyEvestsListDayScrollState createState() => _MyEvestsListDayScrollState();
}

class _MyEvestsListDayScrollState extends State<MyEvestsListDayScroll> {
  final String className = "_ _MyEvestsListDayScrollState ___ ...  ";
  int minCount = 0;
  int maxCount = 1;
  CompromissoBloc _compromissoBloc;

  //DateTime dayEvents;

  @overr

[2019-09-07 21:58] MarceloRab commented on #13
thanks in advance for the support

[2019-09-07 22:02] TatsuUkraine commented on #13
@MarceloRab sure - https://github.com/TatsuUkraine/flutter_sticky_infinite_list_example this is an example app, you can switch horizontal and vertical list there in left sidenav

[2019-09-07 22:07] MarceloRab commented on #13
Thank you. I'm going to study and ask for help if you need it.

[2019-09-07 22:09] TatsuUkraine commented on #13
@MarceloRab btw, I noticed that you going to render just 1 element with a bunch of data inside, so you can try to use just SingleChildScrollView with this widget inside https://github.com/TatsuUkraine/flutter_sticky_infinite_list/blob/master/lib/widget.dart#L363

[2019-09-07 22:11] MarceloRab commented on #13
That's right, I'm in testing mode. Already tested with many elements and in vertical mode flowed correctly.

[2019-09-07 22:14] TatsuUkraine commented on #13
@MarceloRab btw, could you also provide `flutter doctor` info?

[2019-09-07 22:15] MarceloRab commented on #13
One moment please.

[2019-09-07 22:32] TatsuUkraine commented on #13
@MarceloRab ok, I think I found where problem is. Try to specify ScrollController() in InfiniteList as tmp solution. I'm going to investigate this further, but it seems that Flutter doesn't create controller for scroll axis horizontal

[2019-09-07 22:36] TatsuUkraine commented on #13
Which is strange, since it creates controller for vertical scroll by default, if it's not specified

[2019-09-07 23:21] MarceloRab commented on #13
@TatsuUkraine My list is inside a NotificationListener <ScrollNotification>. That's why I don't add a ScrollController (). But I will test as per your recommendation.

[2019-09-07 23:37] TatsuUkraine commented on #13
@MarceloRab it's just a temp if you need to make it work quick) I will push new release with fix for this issue tomorrow

[2019-09-07 23:40] TatsuUkraine commented on #13
@MarceloRab Or you can use this branch for now https://github.com/TatsuUkraine/flutter_sticky_infinite_list/tree/position-listener-bug

[2019-09-07 23:54] MarceloRab commented on #13
@TatsuUkraine Everything was ok. As use in a PageView, there is no need for horizontal movement. But his orientation of not setting controller = null solved the problem in my tests. Thank you so.

[2019-09-08 21:24] #13 closed

[2019-09-08 21:34] TatsuUkraine commented on #13
@MarceloRab new version is available (1.2.3) on pub.dart. This version contains fixes for this issue with a horizontal scroll. Also it fixes standalone `StickyListItem` usage inside `SingleChildScrollView`.

Also [Example project] (https://github.com/TatsuUkraine/flutter_sticky_infinite_list_example) was updated with an example of `StickyListItem` usage

[2019-09-18 15:30] ycgambo opened #17 "What is the best approach to stick one widget on scroll"
I want to stick the pink area. Should I use CustomScrollView instead of Scaffold? What are the features that CustomScrollView provides but Scaffold doesn't?

![image](https://user-images.githubusercontent.com/23355083/65162195-7624f480-da6b-11e9-8839-8e23de0abaa2.png)

[2019-09-18 16:20] TatsuUkraine commented on #17
CustomScrollView is just one of the many scrolling widgets (like SliverList or singlechildscrollview), so it's not a replacement for scaffold in any mean, it's just a different widget

As for your example. Recently I added example, how to use StickyListItem as standalone widget and also I updated example project with this example. https://github.com/TatsuUkraine/flutter_sticky_infinite_list/blob/m

[2019-09-18 16:21] TatsuUkraine commented on #17
@ycgambo But in your particular example I'm not sure that you actually need to use my package. You can simply place scrolling widget below pink are

[2019-09-18 16:26] TatsuUkraine commented on #17
@ycgambo so like an example it could be `Column` with 3 children, first one - row above pink widget, second one - will be pink one. And third one - flexible with flex === 1 and child - grid view (or maybe third-party) widget

[2019-09-18 16:27] TatsuUkraine commented on #17
In that way scroll area will be section after pink widget, so pink widget will behave like `sticky` since it won't be scrolled

[2019-09-19 01:48] ycgambo commented on #17
Thank you, these info really helps a lot. I'll try it out. thanks.

[2019-09-19 01:48] #17 closed

[2019-09-19 13:47] ycgambo commented on #17
Sorry, I didn't make myself clear.

Here is a real app screen record.

![2019-09-19 21 45 31](https://user-images.githubusercontent.com/23355083/65249630-e0e73600-db26-11e9-85df-a0ce7894d7de.gif)

[2019-09-19 14:04] TatsuUkraine commented on #17
Probably you can achieve this type of behavior with SliverList + SliverAppBar + TabBar. Obviously you will need to provide own sized widget. At least from what I see in a screenrecord , I think it will be enough to use widget, that I listed above)

[2019-09-19 14:07] ycgambo commented on #17
Thanks. I’ll try it out.

[2019-10-22 00:06] jamesmenera opened #18 "What should I watch or what method could I use to make a request for more data"
I apologize if I am just missing something, but how do I know that I am getting towards on end of my rendered data and to trigger a request for more? Read through the code base and it was still not clear what should trigger to make a call

[2019-10-22 06:35] TatsuUkraine commented on #18
You need to load more data on scroll end or when container with header goes outside of viewport?

[2019-10-25 07:10] TatsuUkraine commented on #18
@jamesmenera ?

[2019-10-28 08:06] TatsuUkraine commented on #18
@jamesmenera do you still need any help with this issue?) if not, I will close it later today

[2019-10-30 18:28] TatsuUkraine commented on #18
closing this issue, since didn't get any response. @jamesmenera feel free to reach me or open issue if you need any help

[2019-10-30 18:28] #18 closed

[2019-12-24 21:28] wizzar opened #19 "Headers are created above its content."
In a simple horizontally scrollable list, the header is always above the items. There should be some kind of margin.
![image](https://user-images.githubusercontent.com/3606743/71425402-18f89a80-267b-11ea-9143-54b167c837e8.png)

Code:

[code]

[2019-12-24 21:30] TatsuUkraine commented on #19
Well, it's expected behavior) by default headers are overlay content

[2019-12-24 21:40] TatsuUkraine commented on #19
@wizzar do you want me to make overlay optional for headers?

[2019-12-24 21:43] wizzar commented on #19
Oh.. I did not expect that... I understand it should overlay. However, initially, the first item should be visible. I believe that's what most people would expect, to not have the first item not visible.

[2019-12-24 21:48] wizzar opened #20 "Problem with first item displayed"
Initially, the InfiniteList builder is called with indexes -1, 0 and 1, and the displayed item is the 0, naturally.
However, after using setState() inside the InfiniteList items, causing a rebuild, the list item being displayed first is not 0 anymore, it is always the last one, and this gets progressively worse if you traverse the scroll too much before tapping.

To reproduce: click on any date on

[2019-12-24 21:52] wizzar commented on #19
I believe it would make your plugin more robust.

[2019-12-24 22:32] TatsuUkraine commented on #20
Will take a look at this

Could you explain the issue a little bit more? Not sure that I'm following. Issue is that scroll remains on same position even after you call setState?

[2019-12-24 22:32] wizzar commented on #20
Ok, I finally figured it out.
The thing here is that the ScrollController saves it's scroll position in the PageStorage of the list it is attached to. So, what is happening, is that the list is rebuilt, but now the new month is at offset 0, but the scroll position is maintained, which throws it off.
What must be done here is reset the list scroll offset when it is rebuilt, in my case.
The way to d

[2019-12-24 22:34] #20 closed

[2019-12-24 22:41] TatsuUkraine commented on #19
@wizzar ok) can't guarantee that I will implement this feature today or tomorrow) but for sure will try to do this as soon as I can)

I was just thinking to make it as simple as possible, even made list item classes extendable if needed, just to give full control over layout to the dev. But I think adding ability to switch off overlay good improvement

[2020-02-14 11:09] pkitatta opened #21 "Simple example for quick start"
Hi, thank you for this plugin, it looks nice even though and struggling to quickly integrate it in my code.

Would it be possible to please give a real list example as could be used in an app?

Forexample below is my code using another sticky header plugin, how can I quickly implement your plugin in this flow.

[code]

Thanks.

[2020-02-14 12:33] TatsuUkraine commented on #21
Hi) do you have visualization of what you want to achieve? Just wants to make sure that I understood your code sample in a right way

[2020-02-14 13:00] pkitatta commented on #21
Yes I do

![Intex_Aqua power M_Screenshot_20200214-154633](https://user-images.githubusercontent.com/17586059/74533288-44dd2180-4f42-11ea-8e2e-7821aa0e451c.png)

This one I actually did with sticky_header by slighfoot but I as read your comment in the issues there, the header is wobbly - not very cool. And also I need to implement scroll to position so I chose to look for another plugin. flutter_s

[2020-02-14 13:12] TatsuUkraine commented on #21
as I undertood - days should be sticked to the bottom?

[2020-02-14 13:17] TatsuUkraine commented on #21
I will provide some code samples for your case in a few hours if it's ok?

[2020-02-14 13:41] pkitatta commented on #21
No date sticks at the top. In the photo I didn't scroll to the bottom. I know the design is confusing but it's because am using a Stack widget for the body with AppBar positioned at the top. Here is a better photo.

![Intex_Aqua power M_Screenshot_20200214-163715](https://user-images.githubusercontent.com/17586059/74536281-d354a180-4f48-11ea-9cbe-387a2be52b5d.png)

[2020-02-14 13:42] pkitatta commented on #21
That very OK thanks.

[2020-02-14 21:51] TatsuUkraine commented on #21
ok, so here is a very raw example

[code]

But take into account that for your particular case probably none of the sticky header packages won't help you to solve the probable performance issue (among packages that I'm aware at least). Day block will be rendered on-demand, but the case here that you quite likely will have tons and tons of messages for one particular day, which means that all packa

[2020-02-14 21:56] TatsuUkraine commented on #21
btw, header size is needed to define offset for content (same as padding around content). For now headers always overlay content (#19)

[2020-02-14 22:11] TatsuUkraine commented on #21
like an option to solve day item data (with huge amount of data), use `headerStateBuilder`. It will be invoked each time when sticky header changes it's position (https://github.com/TatsuUkraine/flutter_sticky_infinite_list#state). So when it's about to get to the end edge - you can rebuild content with adding there more item for render. But again, it's more like a workaround, I would probably bui

[2020-02-15 08:28] pkitatta commented on #21
@TatsuUkraine thanks a for the honesty and insight. You are probably right, I might need to build my own. Thanks for the help.

[2020-02-15 08:36] TatsuUkraine commented on #21
What problem do you have with SliverStickyHeader? Also I curious if it renders each perticular message on demand or whole day block at once?

[2020-02-15 08:42] TatsuUkraine commented on #21
@pkitatta if it renders each message on demand, and problem just in header positioning, I think I know one workaround how you can fix it

[2020-02-15 09:02] TatsuUkraine commented on #21
I have not exact same, but similar code example here https://github.com/TatsuUkraine/flutter_sticky_infinite_list/blob/master/README.md#reverse-infinite-scroll

[2020-02-15 20:10] pkitatta commented on #21
@TatsuUkraine It renders on demand as it uses SliverList and SliverChildBuilderDelegate for the list content. If you can do something about the header at the bottom then please please please you are most welcome because will save me some time to try and build my own animations for the header.

[2020-02-15 22:12] TatsuUkraine commented on #21
@pkitatta I honestly tried the workaround, that I was thinking could solve an issue, but it still pinned header to the bottom(

and now I recall why I decided to build my own package, I had similar problems in addition to the fact that it can't be used within multi-directional infinite list)

I looked at the source code of the sliver sticky header package and found that it always refers to the scr

[2020-02-15 22:39] pkitatta commented on #21
Yeah, am not yet advanced to fork and change things. I don't even know where to start. I have used flutter for three months but while migrating my project from ionic with a deadline. So it's been a crash course for me.

For now and doing things the simple way. This is my starting point: https://flutter.dev/docs/cookbook/lists/mixed-list

I have change my code as you can see

[code]
Instead for loo

[2020-02-16 00:08] TatsuUkraine commented on #21
Ok. As I said, that you probably will have performance issue if you have tons and tons of messages per day. So you can try to use code sample that I put before and measure fps in dev and prod builds with big amount of data. Flutter is quite fast with rendering, so quite possibly that you won't have any problems, but I would double check) if so, you can simply use my package and if you get any perf

[2020-02-16 00:11] TatsuUkraine commented on #21
Also I would recommend you to split your code into smaller widgets, in that way flutter will try to optimize any rebuild process to avoid building widgets that wasn't changed during rebuild https://flutter.dev/docs/perf/rendering/best-practices#controlling-build-cost

[2020-02-18 07:53] pkitatta commented on #21
@TatsuUkraine I finally got the solution. I reversed the list at the point I was grouping the data

[code]

Now the header is no longer at the bottom.

[2020-02-18 08:13] TatsuUkraine commented on #21
@pkitatta I can assume you using forward direction scroll list also?

[2020-02-18 08:54] pkitatta commented on #21
Everything is OK. I can scroll up and down the list. I have just run into one problem through: Because the headers and its messages are grouped in slivers, each sliver has its own message indexing that starts from 0. This is something I didn't face with sticky header and am assuming your plugin doesn't have this problem. Unified indexing for all the children or messages in the list is needed so th

[2020-02-18 09:40] TatsuUkraine commented on #21
I was asking about scroll type, because if you using NOT reversed scroll you can run into an issue with it's position during dynamic data fetch, because starting point of such scroll is placed at the top rather than at the bottom. Any new messages, that will be placed at the end of your list, won't scroll your content to the bottom edge. Any old massages placed at the top during scroll up and lazy

[2020-02-18 09:52] pkitatta commented on #21
I get what you are saying.

[2020-02-25 21:42] TatsuUkraine commented on #21
if any help is needed, feel free to open new issue

[2020-02-25 21:42] #21 closed

[2020-04-28 10:26] EArminjon opened #22 "Esay fix : Physics attributes !"
Hi,

Please allow developpers to use a customized value for the CustomScrollView 'physics' (Ligne 250 widget.dart) :

[code]

In my case I should always be able to scroll my view. With that, user can scroll to refresh the data :) !

[2020-04-28 10:31] TatsuUkraine commented on #22
will do)

[2020-04-28 10:33] EArminjon commented on #22
Do you want a pull request ?

[2020-04-28 11:39] TatsuUkraine commented on #22
not necessary) I will try to publish a new version when I get time, it will be in a few hours

[2020-04-28 16:31] #22 closed

[2020-04-28 16:33] TatsuUkraine commented on #22
@EArminjon changes are in 1.3.0

[2020-05-20 06:22] w497763094 opened #24 "Can't slide when the list is not high enough"
I add BouncingScrollPhysics() ,but Can't slide when the list is not high enough.
Example:
InfiniteList(
                /// Scroll controller. `Optional`
                  controller: ScrollController(),

                  /// Render scroll in both directions. `Optional`
                  direction: InfiniteListDirection.multi,

                  /// Render 100 elements in negative direction. `Opt

[2020-05-20 06:44] TatsuUkraine commented on #24
Hello. Do you have any errors in logs? Also what device are you using? So I could test this case more property

[2020-05-20 06:53] TatsuUkraine commented on #24
Also I'm curious, what kind of effect you trying to achieve? Case here that this plugin uses simple CustomScrollView, so quite possible that flutter works like it works 🤷‍♂️

[2020-05-20 07:02] w497763094 commented on #24
I want to add refresh at the head of the list, and add more at the bottom, but when the list data is low, if the height of the data does not exceed the height of the screen, it cannot respond to the sliding event. I added a rebound effect to the list and it didn't work (BouncingScrollPhysics ())

[2020-05-20 07:07] w497763094 commented on #24
You can run the code and you will find that the list cannot be scrolled. I set physics: BouncingScrollPhysics (), but it has no effect

[2020-05-20 07:46] TatsuUkraine commented on #24
have you tried to do the same but with the regular scrollable widget?

[2020-05-20 07:49] TatsuUkraine commented on #24
I'm asking because it seems that an issue, which you described, is quite similar to this issue https://github.com/flutter/flutter/issues/25566

[2020-05-20 07:51] TatsuUkraine commented on #24
Which means that you can solve it by using [AlwaysScrollableScrollPhysics](https://api.flutter.dev/flutter/widgets/AlwaysScrollableScrollPhysics-class.html) like
[code]

[2020-05-20 08:01] w497763094 commented on #24
You are right, I tried it and it works, thank you very much

[2020-05-20 08:06] TatsuUkraine commented on #24
I can assume issue can be close in that case?)

[2020-05-20 08:09] w497763094 commented on #24
Of course, you can close this issue。
Thanks again！

[2020-05-20 08:17] TatsuUkraine commented on #24
np)

[2020-05-20 08:17] #24 closed

[2020-05-27 08:40] unveloper opened #25 "Optional headers"
Hi!
I want to group several items in a same header. Is it possible?
Example:

**Header**
content
content --> no header
**Header**
content
**Header**
content
content --> no header
content --> no header

Thanks!

[2020-05-27 10:18] TatsuUkraine commented on #25
Yes for sure. You can use this widget in any scrollable widget https://pub.dev/documentation/sticky_infinite_list/latest/widget/StickyListItem-class.html

Here is an example in docs https://github.com/TatsuUkraine/flutter_sticky_infinite_list/blob/master/README.md#need-more-override

Here is an example in example project https://github.com/TatsuUkraine/flutter_sticky_infinite_list_example/blob/mas

[2020-05-27 10:25] TatsuUkraine commented on #25
And here is how it will look
https://github.com/TatsuUkraine/flutter_sticky_infinite_list_example/blob/5dabe8503ad2d578f9b07018d2d1c76a61a258ef/doc/images/single-scroll.gif?raw=true

[2020-05-27 14:44] TatsuUkraine commented on #25
@unveloper does it solve your issue?

[2020-05-28 07:02] unveloper commented on #25
Thanks for your answer but I don't think this solve my issue.
I want to have optional headers inside a ListView and use a builder delegate like you do in your InfiniteList (I want to create list items on demand)

[2020-05-28 07:34] TatsuUkraine commented on #25
@unveloper you can do this too. Links that I sent you, just showing a basic example. You can use **any** scroll widget around `StickyListItem` (ListView one of the scroll widgets)

For example - here is an infinite list with `ListView.buider` where first and each third item doesn't have a sticky header:

[code]

[2020-05-28 14:44] unveloper commented on #25
That is useful, thanks!
But I have another question:
I have a use case with lot of items so I want to load them on demand with pagination (like this class tries to do https://stackoverflow.com/questions/60074466/pagination-infinite-scrolling-in-flutter-with-caching-and-realtime-invalidatio)

Let's suppose I want to use a page with size of 10, and suppose the last element of the first page is a hea

[2020-05-28 15:48] TatsuUkraine commented on #25
if I understood you right - you still will rebuild ListView each time new data chunk is loaded. Or not?

So your header - is your data item? If so - in this scenario you can just return empty Container.

[2020-05-28 15:52] TatsuUkraine commented on #25
Basically, what you need to do in any case - group your collection in the way when you could properly define, which content items should have a header (and what header it should be), and which shouldn't

[2020-06-01 06:53] TatsuUkraine commented on #25
@unveloper do you need any additional help? If not, please close this issue)

[2020-06-01 07:34] unveloper commented on #25
I'm gonna close the issue as soon as I'll do sone experiments. Thanks!

[2020-07-01 22:05] #19 closed

[2020-07-01 22:15] TatsuUkraine commented on #19
@wizzar just published v2, now package supports relative positioning

[2020-07-01 22:15] TatsuUkraine commented on #19
if something here is migration guide https://github.com/TatsuUkraine/flutter_sticky_infinite_list/blob/master/MIGRATION.md

[2020-07-01 22:16] TatsuUkraine commented on #25
closing this issue due to no activity, if you need any additional help you can re-open this issue or create a new one

[2020-07-01 22:16] #25 closed

[2020-07-02 08:08] fangshengfy opened #29 "how to use it with NestedScrollView"
[code]

[2020-07-02 08:09] fangshengfy commented on #29
maybe scroll has poblem

[2020-07-02 08:37] TatsuUkraine commented on #29
What kind of issue you  get with this example?

[2020-07-02 08:42] fangshengfy commented on #29
NestedScrollView-》SliverAppBar   There is a problem with folding

[2020-07-02 08:44] fangshengfy commented on #29
![跳转](https://user-images.githubusercontent.com/32052317/86337174-51f57580-bc83-11ea-90fa-f8e166c947b6.gif)

[2020-07-02 08:47] TatsuUkraine commented on #29
Flutter can't properly place sliverappbar over the multidirectional infinite scroll since it can't define edges for app bar placement calculation.

If you need to incorporate sticky header items with SliverAppBar, you need to use example from `SingleChildScrollPage` and example from [Flutter docs](https://api.flutter.dev/flutter/widgets/NestedScrollView-class.html#widgets.NestedScrollView.1). Sinc

[2020-07-02 08:49] TatsuUkraine commented on #29
just replace `SingleChildScrollView` in `SingleChildScrollPage` can be replaced with any other ScrollView that Flutter provides

[2020-07-02 08:51] TatsuUkraine commented on #29
and `StickyListItem` can be rendered with `SliverChildBuilderDelegate` for example if you need infinite list

[2020-07-02 08:53] TatsuUkraine commented on #29
but, if you need single directional scroll view with nested scroll - you no need actually NestedScrollView

[2020-07-02 09:17] TatsuUkraine commented on #29
@fangshengfy here is an example of page scaffold (just define droadcast `_headerStream` controller)

[code]

[2020-07-02 09:44] TatsuUkraine commented on #29
Btw, if you don't want to rebuild header on scroll, you can remove stream and StreamBuilder from prev example. Position will be recalculated in any case

[2020-07-03 07:34] tudor07 opened #33 "Adding items at the top makes the list jump"
When I add more items at the top of the list I want the list to stay in place and user should continue scrolling upward to see the content. Right now after I add items at the top the list instantly jumps to the first item.

[2020-07-03 07:36] TatsuUkraine commented on #33
hello. Thank you for the issue. Could you provide screenshot of this behavior and maybe some code how this can be reproduced?

[2020-07-03 07:48] tudor07 commented on #18
I have the same question.
I use a `NotificationListener` to listen for `ScrollEndNotification`.
To check whether user reached the top I use this:
[code]

But I get this error:
[code]

[2020-07-03 07:59] TatsuUkraine commented on #18
@tudor07 according to docs `minScrollExtent` can actually be infinite, if a scroll is infinite. If you want to load data when a user scrolls to the end of the scroll - you need to make it finite, which means that you need to define max pos/neg params, if you using `InfiniteList` widget from this package, or use your delegate with items count property, hard to say without actual code)

[2020-07-03 07:59] TatsuUkraine commented on #33
@tudor07

[2020-07-03 08:24] tudor07 commented on #18
@TatsuUkraine thanks, it worked with specifying `negChildCount` and `posChildCount`

[2020-07-03 08:25] tudor07 commented on #33
@TatsuUkraine My mistake, I needed to use `direction: InfiniteListDirection.multi` to get this feature (by default it's `InfiniteListDirection.single`).

[2020-07-03 08:25] #33 closed

[2020-07-03 10:14] #29 closed

[2020-07-03 21:59] vauvenal5 opened #34 "GridView or GridSliver as Child"
Hi,

is it possible to add a GridView or a GridSliver as the child of your infiniteList?

Cheers!

[2020-07-03 22:49] TatsuUkraine commented on #34
Hello.

The problem is that `GridView` is a scrollable widget (for example `InfiniteList` widget uses `CustomScrollView`) and `GridSliver` is sliver (scroll) item. So overall it's possible, BUT fortunately, it won't be the quite best solution))

What actually you want to achieve? Maybe you can provide a screenshot with an example?

[2020-07-03 23:04] vauvenal5 commented on #34
![Screenshot_1593817322](https://user-images.githubusercontent.com/1935503/86500513-e948ee80-bd91-11ea-9ade-0bc7e2955b7f.png)

I am trying to make an image view where images are sorted by date modified (or any other category) and within this category they are displayed in a grid. The issue I am experiencing with the current library (flutter_sticky_header) is that all the headers are kept in the li

[2020-07-04 19:36] TatsuUkraine commented on #34
so the case here that `flutter_sticky_header` is focused on a finite list of categories with potentially infinite content within the category. My package, on the other hand, is focused on a potentially infinite list of categories with a finite content within the category.

So if you want to use my package to accomplish your task - you actually not necessarily need `GridSliver` to build category co

[2020-07-04 20:53] vauvenal5 commented on #34
Thank you for your suggestion. I will look into it and give it a try.

[2020-07-05 10:11] vauvenal5 commented on #34
Your library with the suggested solution uses about 30% less memory, which is good. Performance seems to be a little bit better, however, I have not done extensive comparisons yet.

If I have to guess, I would say your library will perform better in cases where there are a lot of categories with limited amount of content per category whereas `flutter_sticky_header` will perform better in cases wit

[2020-07-05 10:17] TatsuUkraine commented on #34
I'm glad it helped) let me know if you get any problems)

[2020-07-13 08:18] unveloper commented on #25
Hi! Sorry for the inactivity.

My problem is I can't group my collection because I'm working with Futures of paged data.

[code]

I have a LazyListView which needs a "count stream" giving the correct amount of elements and a Future o List<T> returning a page of elements.

`database.countCategories()` is the count stream returning a `Stream<int>`
`database.getCategories(10, 10 * pageIndex)` is the

[2020-07-13 10:44] unveloper commented on #25
What I think this awesome library is missing are two new classes.
One representing only the header and one representing only a "normal" item.
Also the two classes must only have a content builder, not like StickyListItem which has both header and content builder.
Something you can use like this:

[code]

[2020-07-13 11:10] TatsuUkraine commented on #25
the case here that Header, in order to define edges (min and max position) requires height and height is calculated against content. Header can't leave as a standalone Sliver item since Viewport eventually will destroy it as soon as it goes outside on allowed offset

[2020-07-13 11:12] TatsuUkraine commented on #25
what library provides `LazyListView` widget?

[2020-07-13 11:18] TatsuUkraine commented on #25
I'm asking, because quite likely it actually rerenders all list as soon as New count value comes in. But to understand how it works I need to take a look at its sources. In any case - you can solve rendering issue by making an appropriate grouping logic + streams, which will be split based on your groups. In that way, as soon as new data comes in an appropriate Stream group will be notified, which

[2020-07-13 11:19] TatsuUkraine commented on #25
but again, it's hard to suggest anything without knowing full info(

[2020-07-13 13:24] unveloper commented on #25
LazyListView is the result of my stackoverflow question.
Here it is the final version:

[code]

I can't imagine how to make grouping possible together with pagination for the problem I mentioned at the beginning of the issue.

Also:

Is possible that the scroll view can be in charge of this calculations? And not the item themselves?

[2020-07-24 07:27] tudor07 opened #35 "Not working with Flutter 1.20 and higher"
Not working with Flutter 1.17.5 (which is currently on `dev` channel)

[code]

Looks like `overflow` param was removed from [RenderStack](https://api.flutter.dev/flutter/rendering/RenderStack-class.html)

[2020-07-24 08:34] TatsuUkraine commented on #35
Thanks for an update. I will try to push new dev release with these changes soon

[2020-07-24 18:08] mrpvb-pvbk commented on #35
+1

[2020-07-24 19:20] TatsuUkraine commented on #35
@tudor07 could you provide flutter version that you currently using? since currently 1.17.5 is in the stable channel and package works fine there

[2020-07-24 19:50] TatsuUkraine commented on #35
@mrpvb-pvbk if you have the same issue, could you provide your Flutter version as well?

[2020-07-25 04:57] mrpvb-pvbk commented on #35
At beta channel 1.20 same error

[2020-07-26 16:33] TatsuUkraine commented on #35
I've published v3-dev, so the issue should be solved for dev and beta flutter channels. I will keep this issue opened until flutter will publish the next stable release with these changes. Just keep in mind that there is a chance that these changes could be removed from Flutter's stable release (at least according to git history these changes already was reverted once and then this revert was reve

[2020-07-27 10:29] tudor07 commented on #35
`3.0.0-dev.2` works fine for me 👍

[2020-08-03 17:39] AkbarBakhshi opened #38 "Sort items descending and scroll to the end of the list by default"
**Describe the behavior you'd like to achieve**
Hi. I have a comment section in my app where I am using this package for. I am fetching data from Firebase and then display the data in ascending order from top to bottom (older to newer). That works fine, but I want to have the list scrolled to the bottom (most recent comment) by default, when I navigate to the screen with this widget. How can I do

[2020-08-03 17:44] TatsuUkraine commented on #38
So if I get you right, you need reverse list?

[2020-08-03 17:49] TatsuUkraine commented on #38
If so, you can use code sample for this section https://github.com/TatsuUkraine/flutter_sticky_infinite_list#reverse-infinite-scroll

[2020-08-03 17:57] TatsuUkraine commented on #38
Btw, couple of small tips - InfiniteListItem has default constructor for the relative positioning and `overlay` constructor for absolute header position. And minOffsetProvider is not required, if it's not provided - the max header position will be based on header size (it won't overflow the container and it's max position will be at the opposite edge of the container)

[2020-08-03 17:58] AkbarBakhshi commented on #38
Hi. I tried that, but with `anchor: 1.0` and `posChildCount: 0` I get a blank screen and if I change the `posChildCount` value to number of comments, I basically get a blank screen that starts showing lists after I scroll down still in the ascending order.

[2020-08-03 18:03] TatsuUkraine commented on #38
Hm, this is strange. You put `negChildCount` to number of your comments? And during the item build have took into account that index is actually a negative value?

[2020-08-03 18:03] AkbarBakhshi commented on #38
This is with `anchor: 1.0` and `posChildCount: numberOfComments`
https://drive.google.com/file/d/1VAfxf5j9rgjZU4W0_B6_Lo1bSJz-l0o5/view?usp=sharing

[2020-08-03 18:06] AkbarBakhshi commented on #38
with `anchor: 1.0` and `posChildCount: 0` and `negChildCount: numberOfComments` I get this error:

RangeError (index): Invalid value: Not in range 0..20, inclusive: -1

[2020-08-03 18:09] TatsuUkraine commented on #38
yep it's expected behavior. You need to set `anchor: 1.0` and `negChildCount: numberOfComments`

And then in the builder find your comment item like this
[code]

[2020-08-03 18:11] TatsuUkraine commented on #38
yep, because it seems your comment array has 20 items and `index` will start in the builder from -1, so if you convert it to appropriate array index value like I described in the comment before - all should work fine

[2020-08-03 18:16] AkbarBakhshi commented on #38
Array index values did the trick. Thanks a lot for the help and a great package :)

[2020-08-03 18:19] TatsuUkraine commented on #38
Np)

[2020-08-03 18:19] #38 closed

[2020-08-04 15:12] wiradikusuma opened #39 "Grouping?"
I might be missing something obvious, but if the `builder` has both `header` and `content`, how do I make grouping? E.g. the header would be "A" and the content would be "Abby", "Adam", "Ahmad".

[2020-08-04 18:06] TatsuUkraine commented on #39
You can always create hash map of arrays from the original array. Where key will be your group label and value - array of items that belongs to this group

[2020-08-04 18:27] TatsuUkraine commented on #39
at least it's a first stuff that came into my mind)
Far instance you can have a lazy fetch with 10 items per stem and 25 items overall. Let's imagine you have 5 A's, 7 B's, 10 C's and 3 E's.

What you can do. So you fetch the first 10. There you have 5 A's and 5 B's. You group it by the first letter. And get 2 groups with 5 items in each.

During the build of your list, you render group count + 1.

[2020-08-05 17:39] wiradikusuma commented on #39
Thank you, that's what I ended up doing. I was just thinking if there's something baked in.

[2020-08-05 17:39] #39 closed

[2020-08-05 19:13] TatsuUkraine commented on #35
@tudor07 @mrpvb-pvbk version 3 is live, so you can update package version now

[2020-08-05 19:13] #35 closed

[2020-08-06 18:34] wiradikusuma opened #42 "Divider"
It would be great if dividers can be added without much hassle. I've made a fork, and have divider working, but I'm lazy so it only works for my use case (forward-only, vertical-only list).

https://github.com/wiradikusuma/flutter_sticky_infinite_list/commit/7d37eaa0209eed1f7c0b9dd3812c61fdc3904647

Hopefully I can implement a proper solution and submit a pull request. Or maybe some other brave so

[2020-08-11 10:33] #34 closed

[2020-08-22 00:09] AkbarBakhshi opened #43 "Pagination"
**Describe the behavior you'd like to achieve**
Hi. Is there a way I can paginate the items? like show 10 items and then show the next 10 once I scroll and reach at the end of first 10 items and so on?
btw, I need to use anchor = 1 and posChildCount = 0 for reverse ordering..

[2020-08-23 22:03] TatsuUkraine commented on #43
hello.

Like with any other lazy loading - identify how you going to define when you want to fetch the next data set, and each time data was updated, rebuild List with new child count equals to you total data length.

[2020-10-12 19:04] thegrxp opened #44 "Expand / collapse content"
**Describe the behavior you'd like to achieve**
Hello,
I want to expand / collapse items attached to a header when I click on the header. I have trouble to achieve this result as the builder of InfiniteList require an InfiniteListItem<int> and not a widget.
Thank you for your help and for this amazing lib

[2020-10-12 19:27] TatsuUkraine commented on #44
Hello) thank you)

Do you want to have infinite list in both directions or just one particular?

[2020-10-12 19:32] TatsuUkraine commented on #44
I'm asking because there might be couple of options, how you can solve your issue, so just trying to figure out which one will be easiest one in your particular context

[2020-10-12 20:20] TatsuUkraine commented on #43
going to close this question due to no activity. Feel free to reopen it or create a new one if you need any help)

[2020-10-12 20:20] #43 closed

[2020-10-12 20:27] thegrxp commented on #44
Thank you for your help ! I would like to do it in one direction

[2020-10-12 20:42] TatsuUkraine commented on #44
if so you actually have 2 options:

1. use [StickyListItem](https://pub.dev/documentation/sticky_infinite_list/latest/widget/StickyListItem-class.html), which is a regular widget, within any scrollable widget. It can literally any scrollable widget like SingleChildScrollable..., ListView, CustomScrollWidget etc. StickyListItem requires only header, content, and index (any value), all rest is optio

[2020-10-12 20:48] thegrxp commented on #44
Thanks, I'll look into that !

[2020-10-12 20:51] TatsuUkraine commented on #44
I don't know how you want to persist collapsible state, but for example, for option #1 it may look something like this:

[code]

and then you can use `SomeItem` in your ListView for example

[2020-10-12 20:55] TatsuUkraine commented on #44
for option #2 - you can define value notifier during `InfiniteListItem` extend (it has methods like `initState` or `dispose` if you need) and do similar like in option 1 - track gesture on header, update ValueNotifier, build content with [ValueListenableBuilder](https://api.flutter.dev/flutter/widgets/ValueListenableBuilder-class.html)

[2020-10-12 20:57] TatsuUkraine commented on #44
so there are few variants) hard to say which one fits for you better) all up to you here)

[2020-10-12 21:29] thegrxp commented on #44
Thank's again, I'll go with #2

[2020-10-12 21:29] #44 closed

[2020-11-09 13:42] sh00le opened #45 "Rebuilding all InfiniteListItem on setState"
**Describe the bug**
This can be bug with flutter framework, but here is what is going on.
When Infinitive list is set to infinitive bidirectional and scrolling to "positive" index side - after setState - all InfiniteListItems are built.
With same parameters and scrolling to "negative" index side - after setState - only visible InfiniteListItems  are build.

**To Reproduce**
Steps to reproduce the

[2020-11-09 14:07] TatsuUkraine commented on #45
thanks for the issue.

It seems that it's a flutter default behavior in order to identify what sliver should be rendered since the multi-directional infinite list is actually based on 2 slivers, where 1 of them is a center sliver item, which is a built-in approach to build such layout

I will try your example as soon as I get time, but at this point, I doubt that it's something related to my packa

[2020-11-09 14:54] sh00le commented on #45
I know that this can be flutter related thing.
But I'm confused why "negative" side doesn't have this issue. Negative side also have multi-directional infinite list, but rendering only "visible" slivers.

[2020-11-09 15:26] TatsuUkraine commented on #45
It's probably related to the fact, that negative sliver builder is a first item in the sliver list of custom scroll view widget

[2020-11-09 15:29] TatsuUkraine commented on #45
In any case, I will try to dig into flutter sources to find out what is the source of such behavior and if it's related to my particular implementation of the infinite list

[2020-11-09 20:45] TatsuUkraine commented on #45
ok, so I found the issue. I didn't get from the first time what kind of issue is it actually) sorry that mislead you. I was thinking that the issue, which you described, is that it renders first item of the list each time you do setState

[2020-11-09 20:51] TatsuUkraine commented on #45
so yes, I can confirm that it re-renders all positive list, starting from the first item after each setState

[2020-11-09 21:18] sh00le commented on #45
Cool, I have tested fix and it's seem to be working as intended.

[2020-11-09 21:19] TatsuUkraine commented on #45
awesome, I will publish a new version in a few minutes

[2020-11-09 21:30] #45 closed

[2020-11-09 21:32] TatsuUkraine commented on #45
a new version with this fix is available in pub.dev

[2020-11-09 21:56] sh00le commented on #45
Thank you.

[2020-11-22 18:58] TatsuUkraine opened #49 "Migrate to null-safety"

[2021-02-15 10:04] TatsuUkraine commented on #49
4.0.0-nullsafety version published to pub.dev

[2021-02-15 10:04] #49 closed

[2021-04-05 14:02] Hannnes1 opened #53 "BouncingScrollPhysics does not work at the start of a list when using shrinkwrap"
**Describe the bug**
When creating a `ListView` and setting `shrinkWrap` to `true` the list does not bounce at the start (top if reverse is false, bottom if reverse is true) like it does at the end. This happens even if setting the physics to `AllwaysScrollablePhysics()`. The problem is also there whether or not the list needs to be scrollable to show all the content.

**To Reproduce**
Steps to re

[2021-04-05 14:20] TatsuUkraine commented on #53
Hey, thank you for this issue. How it applies to this package? Codesample that I see is pure flutter code, without any packages

[2021-04-05 14:34] Hannnes1 commented on #53
Oh, sorry about that... I didn't check what repository I was in when creating the issue. I just thought that I was in the flutter repo.

[2021-04-05 14:34] #53 closed

[2021-04-05 14:58] TatsuUkraine commented on #53
no worries)) glad you were looking at my package, though))

[2021-04-12 18:55] Tiger3030 commented on #39
I also need grouping, but do not fully understand the explanation here.

I want to built something like this (no lazy fetching needed):

![Screen(1)](https://user-images.githubusercontent.com/61391108/114445769-c07f4080-9bd0-11eb-9a85-10bc24f1c6b5.gif)

For this example I have put a `ListView` inside `contentBuilder` of `InfiniteListItem`, which works as expected, but has very bad performance with

[2021-04-12 19:44] TatsuUkraine commented on #39
Hard to say with the code. But since you're using ListView inside content builder, I assume that you are using shrinkWrap to make it work?

[2021-04-12 20:25] Tiger3030 commented on #39
No, I wrapped it with a container. Here is the full code:

[code]

As far as I understand it, the problem with this approach is that as soon as the first element of the ListView enters the cache area, the whole ListView is rendered at once, which leads to the bad performance.

[2021-04-12 20:40] TatsuUkraine commented on #39
case here that ListView in this case (not particularly with my package, but in general) doesn't give any benefit at all. Have you tried to use a simple Row instead?

[2021-04-13 12:55] Tiger3030 commented on #39
The reason why I used ListView instead of Row is the ListView.builder, which Row does not have.

But I have tried it anyway and it has the same problem that the whole Row is rendered as soon as the beginning of the row enters the cache area. I think what I want to achieve is not possible with good performance with this package, as it has no grouping built in.

[2021-04-13 13:34] TatsuUkraine commented on #39
builder in a list view works in a little bit different way than you think. In order to get lazy build you need this bloc to be scrolled, since flutter defined what needs to be rendered based on viewport.

hard to say anything regarding performance, since I've been using this package with big number of items in each Item content and never had any problems.

This package is focused on rendering a kn

[2021-04-13 14:26] Tiger3030 commented on #39
The reason why performance is not good in my case probably is that each item in ListView/Row contains a network image and with the current implementation sometimes 200 images are loaded at once, even if I only need the images visible right now to be rendered/loaded. And the bad performance only concerns the time until the list is loaded, after that everything works fine.

I want to have lazy built

[2021-05-19 11:01] Tobi3030 commented on #39
I have finally found a solution: I only use your package for the header and let the `contentBuilder` return an empty `container` with the right `width` for my content. Then I use `ListView.builder` for my content and sync the two scrollviews using https://pub.dev/packages/sync_scroll.

Thank you for your help.